*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #c4c4c437;
}

header{
    background-color: #003366;
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 5px solid #ff5500;
}

header img {
    height: 50%;
}

nav {
    display: flex;
    gap: 30px;
}

nav a {
    color: #ffffff;
    display: flex;
    text-decoration: none;
    margin-left: 20px;
    font-weight: bold;
    transition: color 0.3s ease;
}

nav a:hover {
    color: #ff4d00;
}

main {
    margin: 0;
    box-sizing: border-box;
}

.banner {
    width: 100%;
    height: auto;
    padding-top: 10px;  
    margin-bottom: 20px;
}

section .videos {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position: absolute;
    padding: 10px;
    right: 10px;
    
}

.videos {
    gap: 25px;   
}

iframe {
     border-radius: 10px; 
}

.td-p h1 {
    width: 888px;
    text-align: center; 
    margin-bottom: 20px; 
}


.td-p p {
    width: 888px;
    text-align: justify;
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 15px;
}

.td-p .t-p p {
    font-size: 16px;
    text-align: center;

}









































