*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #dedbdb96;
}

header{
    background-color: #003366;
    position: fixed;
    width: 100%;
    padding: 1px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 5px solid #ff5500;
}

   
header img {
    height: 50%;
   
    
}

nav {
    display: flex;
    gap: 30px;
   
   
}

nav a {
    color: #ffffff;
    display: flex;
    text-decoration: none;
    margin-left: 20px;
    font-weight: bold;
    transition: color 0.3s ease;
}

nav a:hover {
    color: #ff4d00;
}

main {
    margin: 0;
    box-sizing: border-box;
    margin-bottom: 10px; 

}

.banner {
    width: 100%;
    height: auto;
    padding-top: 10px;
    margin-top: 90px;  
   
}

section {
    width: 1520px;
    height: 10px;
}

section .videos {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-top: 10px;
    margin-right: 15px;  
}

.videos {
    gap: 25px;   
}

iframe {
    border-radius: 10px; 
    
}

.td-p h1 {
    width: 1300px;
    text-align: center; 
    margin-bottom: 15px;
   
}

.td-p p {
    width: 1100px;
    text-align: justify;
    font-size: 20px;
    line-height: 1.4;
    margin-bottom: 15px;
   
}

.td-p .t-p p {
    font-size: 16px;
    text-align: center;  
}

.fotos {
    display: flex;
    width: 10px;
    height: 10px;
   
}

.ft {
   margin: 220px 20px 20px 20px;  
}

.galerias {
    gap: 10px;
}

.galeria {
    width: 220px;
    height: 190px;
}


@media (max-width: 768px) {
  header {
    flex-direction: column;
    align-items: flex-start;
  }

  nav {
    justify-content: center;
    width: 100%;
  }

  .td-p h1 {
    font-size: 1.5rem;
  }

  .td-p p {
    font-size: 16px;
    padding: 0 10px;
  }

  .videos {
    align-items: center;
  }

  iframe {
    max-width: 100%;
  }

  .fotos, .galerias {
    flex-direction: column;
    align-items: center;
  }
}









































